h1{
    text-align: center;
    color: midnightblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
label{
    font-size: 15px;
    font-weight: bold;
}
 input[type=text], select, textarea {
    width: 100%;
    padding: 15px; 
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px; 
    margin-bottom: 15px;
  }
input[type=submit] {
    background-color: blue;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
  }
input[type=submit]:hover{
    background-color: green;
}

.contactus {
    border-radius: 5px;
    background-color:white;
    padding: 20px;
  } 
a:link{
    color:mediumblue;
}
a:visited{
    color:mediumblue;
}
a:hover{
    color:orangered;
}
a:active{
    color:lawngreen;
}
.footer{
    color: mediumblue;
    position:relative;
    bottom:0;
    width:100%;
    display:block;
}