body{
    background-color: black;
}
h1{
    text-decoration: underline;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: goldenrod;
}
h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: greenyellow;
}
.row {
    display: flex;
  }
  
.column {
    flex: 33.33%;
    padding: 5px;
  }
.footer{
    color: skyblue;
    position:relative;
    bottom:0;
    width:100%;
    display:block;
}
li{
    font-size: 35px;
    color: lightseagreen;
    text-align: center;
    height: 50px;
}
form{
    text-align: center;
}
input[type=submit] {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: blue;
    color: whitesmoke;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
  }
input[type=submit]:hover{
    background-color: orange;
}
a:link{
    color:mediumblue;
}
a:visited{
    color:mediumblue;
}
a:hover{
    color:orangered;
}
a:active{
    color:lawngreen;
}